<link rel="stylesheet" type="text/css" href="../assets/css/mystyle.css">
<header class="box1">
    <h1>chatapp</h1>
    <button type="submit" name="password" class="logout" ng-click="changePass()">change password</button><br>
    <button type="submit" name="button" class="logout" ng-click="logout()">Log Out</button>
</header>
<table class="table">
    <tr>
        <td><div class="box2">
            <h3><li ng-repeat="x in array">{{x}}</li></h3>
            </div>
        </td>
        <td>
            <div class="box3">
                    <li ng-repeat="y in chatList">{{y}}</li>
                <table class="table2">
                    <tr>
                    <td>
                    <textarea name="text" class="type" cols="13" rows="2" placeholder="type your message here" ng-model="data"></textarea>
                    </td>
                    <td>
                        <button type="submit" name="button" class="button" ng-click="send()">SEND</button>
                    </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
